<p class="field">
  <label for="<%= "#{param_prefix}_preferred_amount" %>">
    Zone must be
    <%= text_field_tag "#{param_prefix}[preferred_zone]", promotion_rule.preferred_zone, :size => 10 %>
  </label>
</p>
