/* line 17, ../../../../../.rvm/gems/ruby-1.8.7-p334@antifasoul/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.8.7-p334@antifasoul/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.8.7-p334@antifasoul/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.8.7-p334@antifasoul/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.8.7-p334@antifasoul/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.8.7-p334@antifasoul/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.8.7-p334@antifasoul/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.8.7-p334@antifasoul/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.8.7-p334@antifasoul/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../../app/stylesheets/_formalize.sass */
.input_tiny {
  width: 50px;
}

/* line 10, ../../app/stylesheets/_formalize.sass */
.input_small {
  width: 100px;
}

/* line 13, ../../app/stylesheets/_formalize.sass */
.input_medium {
  width: 150px;
}

/* line 16, ../../app/stylesheets/_formalize.sass */
.input_large {
  width: 200px;
}

/* line 19, ../../app/stylesheets/_formalize.sass */
.input_xlarge {
  width: 250px;
}

/* line 22, ../../app/stylesheets/_formalize.sass */
.input_xxlarge {
  width: 300px;
}

/* line 25, ../../app/stylesheets/_formalize.sass */
.input_full {
  width: 100%;
}

/* line 30, ../../app/stylesheets/_formalize.sass */
.input_full_wrap {
  display: block;
  padding-right: 8px;
}

/* line 37, ../../app/stylesheets/_formalize.sass */
::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 41, ../../app/stylesheets/_formalize.sass */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 44, ../../app/stylesheets/_formalize.sass */
input,
button,
select,
textarea {
  margin: 0;
  vertical-align: middle;
}

/* line 51, ../../app/stylesheets/_formalize.sass */
input[type="radio"],
input[type="checkbox"] {
  position: relative;
  vertical-align: top;
  top: 3px;
  top: 0 \0;
  *top: -3px;
}

@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) {
  /* line 63, ../../app/stylesheets/_formalize.sass */
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 2px;
  }
}
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
  /* line 70, ../../app/stylesheets/_formalize.sass */
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
  /* line 77, ../../app/stylesheets/_formalize.sass */
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}
/* line 82, ../../app/stylesheets/_formalize.sass */
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: #dddddd url('/images/button.png') repeat-x;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(#ffffff, #dddddd);
  background: -moz-linear-gradient(#ffffff, #dddddd);
  background: -o-linear-gradient(#ffffff, #dddddd);
  background: -ms-linear-gradient(#ffffff, #dddddd);
  background: linear-gradient(#ffffff, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 3px 10px;
  text-shadow: white 0 1px 1px;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0px;
}

/* line 106, ../../app/stylesheets/_formalize.sass */
button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

/* line 111, ../../app/stylesheets/_formalize.sass */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  padding: 2px 3px;
  font-size: 13px;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  height: 1.8em;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}

/* line 155, ../../app/stylesheets/_formalize.sass */
::-webkit-input-placeholder {
  color: #888888;
}

/* line 158, ../../app/stylesheets/_formalize.sass */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888;
}

/* line 162, ../../app/stylesheets/_formalize.sass */
input.placeholder-text,
textarea.placeholder-text {
  color: #888888;
}

/* line 166, ../../app/stylesheets/_formalize.sass */
:invalid {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 174, ../../app/stylesheets/_formalize.sass */
button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  -moz-box-shadow: #0066ff 0 0 7px;
  -webkit-box-shadow: #0066ff 0 0 7px;
  box-shadow: #0066ff 0 0 7px;
  z-index: 1;
}

/* line 188, ../../app/stylesheets/_formalize.sass */
input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 198, ../../app/stylesheets/_formalize.sass */
select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee;
}

/* line 215, ../../app/stylesheets/_formalize.sass */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default;
}

/* line 230, ../../app/stylesheets/_formalize.sass */
textarea,
select[size],
select[multiple] {
  height: auto;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 237, ../../app/stylesheets/_formalize.sass */
  select {
    background-image: url('/images/select_arrow.gif?1318369501');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 242, ../../app/stylesheets/_formalize.sass */
  select[size],
  select[multiple] {
    background-image: none;
    padding: 0;
  }

  /* line 246, ../../app/stylesheets/_formalize.sass */
  ::-webkit-validation-bubble-message {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    height: 16px;
  }

  /* line 257, ../../app/stylesheets/_formalize.sass */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border: 0;
  }
}
/* line 265, ../../app/stylesheets/_formalize.sass */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 271, ../../app/stylesheets/_formalize.sass */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
}

/* line 299, ../../app/stylesheets/_formalize.sass */
.ie6_button,
* html button {
  background: #dddddd url('/images/button.png') repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0px;
  overflow: visible;
  width: auto;
}

/* line 311, ../../app/stylesheets/_formalize.sass */
* html button {
  padding-top: 1px;
  padding-bottom: 1px;
}

/* line 315, ../../app/stylesheets/_formalize.sass */
.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top;
}

/* line 327, ../../app/stylesheets/_formalize.sass */
* html select {
  margin-top: 1px;
}

/* line 330, ../../app/stylesheets/_formalize.sass */
.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888;
}

/* line 335, ../../app/stylesheets/_formalize.sass */
.ie6_input_disabled {
  background: #eeeeee;
}

/* line 7, ../../app/stylesheets/screen.sass */
body {
  background: #181818;
  color: white;
  text-shadow: black 0px -1px 0px;
  font: 12px/1.35 Arial, Helvetica, sans-serif;
}
/* line 13, ../../app/stylesheets/screen.sass */
body #header {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #070707), color-stop(100%, #181818));
  background: -webkit-linear-gradient(#070707, #181818);
  background: -moz-linear-gradient(#070707, #181818);
  background: -o-linear-gradient(#070707, #181818);
  background: -ms-linear-gradient(#070707, #181818);
  background: linear-gradient(#070707, #181818);
}
/* line 16, ../../app/stylesheets/screen.sass */
body #header .inner {
  width: 960px;
  margin: 0px auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 21, ../../app/stylesheets/screen.sass */
body #header .inner h1 {
  float: left;
}
/* line 24, ../../app/stylesheets/screen.sass */
body #header .inner .aside {
  float: right;
}
/* line 27, ../../app/stylesheets/screen.sass */
body #header .inner .aside #nav-bar {
  float: right;
  font-size: 10px;
  padding: 10px 0px;
}
/* line 32, ../../app/stylesheets/screen.sass */
body #header .inner .aside #nav-bar a {
  color: #ff1f1c;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 38, ../../app/stylesheets/screen.sass */
body #header .inner .aside #nav-bar a:hover {
  color: white;
  text-decoration: underline;
}
/* line 42, ../../app/stylesheets/screen.sass */
body #header .inner .aside #nav-bar li {
  padding: 2px;
  float: left;
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #333333;
}
/* line 49, ../../app/stylesheets/screen.sass */
body #header .inner .aside #nav-bar li:first-child {
  border-left-width: 0px;
}
/* line 53, ../../app/stylesheets/screen.sass */
body #header .inner .aside .search-box {
  clear: right;
  margin-top: 15px;
  float: right;
  border: 1px solid #363636;
  border-bottom-width: 0px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  background: black;
  padding: 15px;
}
/* line 63, ../../app/stylesheets/screen.sass */
body #header .inner .aside .cart-indicator {
  clear: right;
  float: right;
}
/* line 67, ../../app/stylesheets/screen.sass */
body #header .inner .aside .cart-indicator a {
  color: white;
  line-height: 35px;
  height: 30px;
  display: block;
  padding-left: 40px;
  background: url('/images/custom/cart.png?1318366583') no-repeat left center;
  font-weight: bold;
  text-decoration: none;
}
/* line 77, ../../app/stylesheets/screen.sass */
body #header .inner .aside .cart-indicator a:hover {
  text-decoration: underline;
}
/* line 80, ../../app/stylesheets/screen.sass */
body #wrapper {
  width: 960px;
  margin: 0px auto;
}
/* line 84, ../../app/stylesheets/screen.sass */
body #wrapper ul#taxonomies {
  margin-bottom: 20px;
  font-size: 12px;
  text-transform: uppercase;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-box;
  display: box;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}
/* line 92, ../../app/stylesheets/screen.sass */
body #wrapper ul#taxonomies > li {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  position: relative;
}
/* line 96, ../../app/stylesheets/screen.sass */
body #wrapper ul#taxonomies > li a {
  padding: 27px 0;
  border: 1px solid #363636;
  border-right-width: 0px;
  display: block;
  text-align: center;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #171717), color-stop(100%, #040404));
  background: -webkit-linear-gradient(#171717, #040404);
  background: -moz-linear-gradient(#171717, #040404);
  background: -o-linear-gradient(#171717, #040404);
  background: -ms-linear-gradient(#171717, #040404);
  background: linear-gradient(#171717, #040404);
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/* line 107, ../../app/stylesheets/screen.sass */
body #wrapper ul#taxonomies > li a:hover {
  background: black;
  color: #ff1f1c;
}
/* line 111, ../../app/stylesheets/screen.sass */
body #wrapper ul#taxonomies > li:first-child > a {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -khtml-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 114, ../../app/stylesheets/screen.sass */
body #wrapper ul#taxonomies > li:last-child > a {
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right-width: 1px;
}
/* line 118, ../../app/stylesheets/screen.sass */
body #wrapper ul#taxonomies > li ul {
  display: none;
}
/* line 123, ../../app/stylesheets/screen.sass */
body #wrapper ul#taxonomies > li:hover ul {
  display: block;
  position: absolute;
  top: 60px;
  left: 10px;
  right: 10px;
}
/* line 130, ../../app/stylesheets/screen.sass */
body #wrapper ul#taxonomies > li:hover ul li a {
  padding: 15px 0px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
}
/* line 136, ../../app/stylesheets/screen.sass */
body #wrapper ul#taxonomies > li:hover ul li:last-child a {
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -khtml-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
