<% get_taxonomies.each do |taxonomy| %>
  <div class="sidebar-taxonomy">
    <h3<%== ' class="current"' if @taxon && @taxon == taxonomy.root %>>
      <%= link_to t("shop_by_taxonomy", :taxonomy => taxonomy.name), seo_url(taxonomy.root), :class => 'root' %>
    </h3>
    <ul>
      <% taxonomy.root.children.each do |taxon| %>
        <li<%== ' class="current"' if @taxon and ([@taxon] + @taxon.ancestors).include?(taxon) %>>
          <%= link_to taxon.name, seo_url(taxon) %>
        </li>
      <% end %>
    </ul>
	</div>
<% end %>
