#header

  .inner
    width: 960px
    margin: 0px auto
    +fix

    h1
      margin-top: 10px
      margin-bottom: 0 !important
      float: left

    .aside
      float: right

      #nav-bar
        float: right
        font-size: 10px
        padding: 10px 0px

        a
          color: #FF1F1C
          font-weight: bold
          text-transform: uppercase
          text-decoration: none

          &:hover
            color: white
            text-decoration: underline

        li
          padding: 2px
          float: left
          padding-left: 10px
          margin-left: 10px
          border-left: 1px solid #333

          &:first-child
            border-left-width: 0px


      .search-box
        clear: right
        margin-top: 15px
        float: right
        border: 1px solid #363636
        border-bottom-width: 0px
        +border-top-radius(10px)
        background: black
        padding: 15px

      .cart-indicator
        clear: right
        float: right

        a
          color: white
          line-height: 35px
          height: 30px
          display: block
          padding-left: 45px
          background: image-url("custom/cart.png") no-repeat right center
          font-weight: bold
          text-decoration: none

          &:hover
            text-decoration: underline

