@import "compass"
@import "common"

+global-reset

@import "formalize"

body
  background: black image-url("custom/background.png") no-repeat top center
  +text-shadow(black 0px -1px 0px)
  font: 12px/1.35 Arial, Helvetica, sans-serif
  color: white

  @import "header"
  @import "footer"
  @import "breadcrumbs"

  #wrapper
    width: 960px
    margin: 0px auto
    +fix

    @import "main_menu"

body.two-col

  #wrapper
    @import "sidebar"

    #content
      float: left
      width: 960px - 200px - 20px

body.one-col
  #content
    +background(linear-gradient(rgba(#171717, 0.8), #040404))
    padding: 25px
    border: 1px solid #1C1C1C
    +border-radius(10px)
    +box-shadow(black 0 5px 10px)
    +pie-clearfix

body
  h1
    font-size: 40px
    font-family: Lobster
    margin-bottom: 25px
    text-align: center

  @import "product_listing"
  @import "product_details"
  @import "cart"

  #errorExplanation
    background-color: rgba(#520303, 0.7)
    padding: 15px
    +border-radius(10px)
    margin-bottom: 15px

    h2
      font-size: 18px
      font-family: Arial, Helvetica, sans-serif
      margin-bottom: 5px

#registration
  h2
    font-size: 25px
    font-family: Lobster
    margin-bottom: 15px

#content
  form
    p
      margin-bottom: 10px
      +clearfix

      label
        width: 130px
        float: left

      input, select
        width: 400px
        float: left

      &.checkbox
        label
          float: none
        input
          float: none
          width: auto

    legend
      font-family: Lobster
      font-size: 20px
      padding-bottom: 15px

    fieldset
      margin-bottom: 20px

#checkout-step-address
  +clearfix

  li
    float: left
    width: 25%

    span
      padding: 12px 0
      border: 1px solid #363636
      border-right-width: 0px
      display: block
      text-align: center
      +background(linear-gradient(#171717, #040404))
      text-decoration: none
      color: white
      font-weight: normal
      font-family: Lobster
      font-size: 20px
      text-align: center

    &:first-child span
      +border-left-radius(10px)

    &:last-child span
      +border-right-radius(10px)
      border-right-width: 1px

  &.current-first span, &.current span, &.current-last span
    background: black
    color: #FF1F1C

#wrapper.home
  @import "homepage"
