@import "compass"
@import "common"

+global-reset

@import "formalize"

body
  background: black image-url("custom/background.png") no-repeat top center
  +text-shadow(black 0px -1px 0px)
  font: 12px/1.35 Arial, Helvetica, sans-serif
  color: white

  a
    color: white

  .flash.errors
    padding: 15px
    background-color: #7b0000
    +border-radius(5px)
    margin-bottom: 15px
    +custom-font

  @import "header"
  @import "footer"
  @import "breadcrumbs"

  #wrapper
    width: 960px
    margin: 0px auto
    +fix

    @import "main_menu"

body.two-col

  #wrapper
    @import "sidebar"

    #content
      float: left
      width: 960px - 200px - 20px

body.one-col
  #content
    +background(linear-gradient(rgba(#171717, 0.8), #040404))
    padding: 25px
    border: 1px solid #1C1C1C
    +border-radius(10px)
    +box-shadow(black 0 5px 10px)
    +pie-clearfix

body
  h1
    font-size: 40px
    +custom-font
    margin-bottom: 25px
    text-align: center

  @import "product_listing"

  @import "cart"

  #errorExplanation
    background-color: rgba(#520303, 0.7)
    padding: 15px
    +border-radius(10px)
    margin-bottom: 15px

    h2
      font-size: 18px
      font-family: Arial, Helvetica, sans-serif
      margin-bottom: 5px

#registration
  h2
    font-size: 25px
    +custom-font
    margin-bottom: 15px

#content
  form
    p
      margin-bottom: 10px
      +clearfix

      label
        width: 130px
        float: left

      input, select
        width: 400px
        float: left

      &.checkbox
        label
          float: none
        input
          float: none
          width: auto

    legend
      +custom-font
      font-size: 25px
      padding-bottom: 15px

    fieldset
      margin-bottom: 20px

#wrapper.checkout
  @import "checkout"

table#cart-detail
  width: 100%

#wrapper.home
  @import "homepage"

#product-details
  @import "product_details"

.pagination
  +custom-font
  font-size: 15px
  text-align: center
  margin-top: 10px

  a
    color: white
    text-decoration: none
