<% if !@product.taxons.blank? %>
<div id="taxon-crumbs">
  <h3><%= t('look_for_similar_items') %></h3>

  <%= hook :product_taxons do %>
    <div>
      <% products = @product.taxons.map{|t| t.active_products }.flatten.compact[0..8] %>
      <% products.delete(@product) %>
      <%= render :partial => "shared/products", :locals => {:products => products} %>
    </div>
  <% end %>

</div>
<% end %>
